<div class="login-container">
    <h2>Connexion</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form ngForm (ngSubmit)="login()">
        <mat-form-field>
            <label for="username">Nom d'utilisateur : </label>
            <input matInput type="text" id="username" [(ngModel)]="name" name="username" required>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Se connecter</button>
    </form>
</div>
