.login-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

label{
    color: black;
}
